/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.banner-background {
    background-image: url('/Assets/Object.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    min-height: 300px;
}

.logo {
    padding-left: 10px;
}

.rounded-button {
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    background-color: #C271FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.rounded-button:hover {
    background-color: #4c4f53;
    transform: scale(1.05);
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.main-title {
    text-align: center;
    padding: 50px 20px;
    min-height: 200px;
}

.main-title h1 {
    font-size: 4em;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.main-title p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main-title button {
    background-color: #C271FF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.pros,
.tutorials,
.free-membership,
.footer {
    padding: 50px 20px;
    text-align: center;
    min-height: 150px;
}

.faq {
    padding: 50px 20px;
    text-align: center;
    min-height: 200px;
}

.free-membership {
    background-color: #071629;
}

.purple {
    color: #C271FF;
}

.pros-container,
.tutorials-container,
.membership-benefits,
.footer-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.faq-c {
    display: flex;
}

.faq-item {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ps {
    font-weight: bold;
}

.faq h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.pro {
    text-align: center;
    flex: 1;
    padding: 10px;
}

.pro img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial {
    padding: 50px 20px;
    background-color: #C271FF;
}

.testimonial-container {
    max-width: 600px;
    margin: 0 auto;
}

.testimonial p,
.testimonial blockquote {
    margin-bottom: 20px;
}

.testimonial-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.testimonial-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

blockquote {
    flex: 1;
}

.tutorial {
    text-align: center;
    flex: 1;
    padding: 10px;
}

.tutorial img {
    width: 100%;
    height: auto;
}

.benefit {
    text-align: center;
    flex: 1;
    padding: 10px;
}

.faq-item {
    margin-bottom: 20px;
    flex: 1;
    padding: 10px;
}

.footer-logo,
.footer-images,
.footer p {
    margin-bottom: 20px;
}

.footer-images img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.footer p {
    font-size: 1em;
    color: antiquewhite;
}

.footer {
    background-color: #0B1226;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 300px;
    height: auto;
    margin-right: 10px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-social img:hover {
    opacity: 0.9;
}

.footer-content,
.footer-social {
    flex: 1;
    text-align: right;
}

.footer-content > .footer-logo {
    text-align: left;
}

.footer-social {
    text-align: right;
}

.footer-copyright {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #5a5a5a;
}

.last-div {
    display: flex;
}

.tutorials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tutorial {
    position: relative;
    width: 200px;
}

.tutorial img {
    width: 100%;
    height: auto;
    display: block;
}

.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -95%);
    width: 50px;
    height: auto;
    margin-top: 1px;
}

.video-icon img {
    width: 100%;
    height: auto;
    position: relative;
}

.tutorial p {
    text-align: center;
    margin: 10px 0 0 0;
}

.comment {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.comment p {
    margin: 0px;
}

.comment img {
    width: 30px;
    height: 30px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.rate p {
    margin: 0px;
}

.rate img {
    width: 90px;
    height: auto;
}

.align {
    justify-self: flex-start;
}

@media (min-height: 500px) {
    .main-title h1 {
        font-size: 3.5em;
    }

    .main-title p {
        font-size: 1.2em;
    }

    .testimonial p,
    .testimonial blockquote {
        font-size: 1.2em;
    }
}

@media (min-height: 600px) {
    .main-title h1 {
        font-size: 4em;
    }

    .main-title p {
        font-size: 1.5em;
    }

    .testimonial p,
    .testimonial blockquote {
        font-size: 1.5em;
    }
}

@media (min-height: 700px) {
    .main-title h1 {
        font-size: 4.5em;
    }

    .main-title p {
        font-size: 1.8em;
    }

    .testimonial p,
    .testimonial blockquote {
        font-size: 1.8em;
    }
}

@media (min-height: 800px) {
    .main-title h1 {
        font-size: 5em;
    }

    .main-title p {
        font-size: 2em;
    }

    .testimonial p,
    .testimonial blockquote {
        font-size: 2em;
    }
}
